.sidebar-open::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(90, 90, 90, 0.159);
  backdrop-filter: blur(4px);
  z-index: 999;
}
.sidebar {
  position: fixed;
  width: 350px;
  height: 100%;
  background-color: white;
  top: 0;
  right: 0;
  font-family: IranSans;
  z-index: 1000;
}
.sidebar-wrapper {
  padding: 15px 30px;
}
.bi-x-lg {
  font-size: 1.6rem;
  color: #cfb62c;
  font-weight: bold;
}
.sidebar-items {
  margin: 120px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-weight: bold;
  border-right: 1px solid #c4c4c4;
  padding: 0 20px;
}
.sidebar-items a {
  text-decoration: none;
  color: black;
}
.sidebar-socialmedia {
  display: flex;
  gap: 40px;
  justify-content: left;
  color: #cfb62c;
}
.social {
  border: 2px solid #cfb62c;
  border-radius: 50%;
  padding: 8px;
}
.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
  margin-top: 20px;
  border-left: 1px solid #c4c4c4;
  padding: 0 20px;
}
.bi-linkedin {
  order: 1;
}
.bi-telephone-fill {
  order: -1;
}
